<!-- app/views/pages/continue.html.erb -->
<h2>Login successful</h2>
<h2>Click continue button to go to next page</h2>

<!-- Redirect link -->
<%= link_to "Continue", :controller => "user_suggestions", :action => "index" %>
